@import url("https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.loadScreen {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background: #ffffff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.loadScreen .mainLogoAnimation {
  margin-top: 10%;
  height: 400px;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
}

.navBar {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}
.navBar .navLeft {
  justify-self: center;
}
.navBar .navLeft .logo {
  height: 30px;
}
.navBar .navRight {
  justify-self: end;
  height: 30px;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
}
.navBar .navLinks {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}
.navBar .navLinks .navLink {
  display: flex;
  align-items: center;
  height: 15px;
  border: 1px solid #6B6785;
  border-radius: 2px;
  padding: 8%;
  text-decoration: none;
  background: transparent;
  color: #0a1020;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.navBar .navLinks .navLink:hover {
  background: #6B6785;
  color: #ffffff;
}

.appHeader {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4px;
  justify-items: center;
  font-family: "Hammersmith One", sans-serif;
}
.appHeader .headerTextLg {
  font-size: 30px;
  letter-spacing: 6px;
  color: #232A3B;
}
.appHeader .headerTextSm {
  font-size: 12px;
  letter-spacing: 4px;
  color: #232A3B;
}

.home {
  display: grid;
  grid-template-columns: 1fr;
  background: url("/blockBg.png");
  background-position-y: -130px;
}
.home .jumbo {
  padding-top: 2%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  height: 450px;
  width: 98vw;
}
.home .phrase {
  padding-top: 4%;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  text-align: center;
  width: 80%;
  height: 200px;
  color: #232A3B;
}
.home .phrase .phraseText {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 8px;
  line-height: 1.4;
  font-family: "Roboto" sans-serif;
}
.home .phrase .animPhraseContainer {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}
.home .phrase .phraseTextAnimated {
  grid-column: 1;
  grid-row: 1;
  color: #6abdcc;
}
.home .graphic {
  padding-top: 4%;
  grid-column: 2;
  grid-row: 1/3;
  height: 340px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.home .quoteCardProto {
  grid-column: 1;
  grid-row: 1;
  margin-top: 4%;
  height: 75%;
  width: 60%;
  border: 2px solid #eeeeee;
  box-shadow: 4px 6px 10px #4a52631f;
  border-radius: 5px;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60% 20%;
  background: #ffffff;
  color: #232A3B;
}
.home .quoteCardProto .quoteCardHeader {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}
.home .quoteCardProto .quoteCardHeader .qcThemeIcon {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.home .quoteCardProto .quoteCardHeader .themeIcon {
  border: 2px solid;
  border-radius: 50%;
  padding: 5%;
  height: 30px;
  background: #5583C3;
  background: linear-gradient(to top left, #5583C3, #E8F7FB);
}
.home .quoteCardProto .quoteCardHeader .qcThemeText {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 8%;
}
.home .quoteCardProto .quoteCardHeader .qcThemeText .themeText {
  font-family: "Hammersmith One", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
}
.home .quoteCardProto .quoteCardHeader .qcMenuBtn {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  transition: 0.2s all;
}
.home .quoteCardProto .quoteCardHeader .qcMenuBtn:hover {
  transform: scale(1.4);
  cursor: pointer;
}
.home .quoteCardProto .quoteCardHeader .qcMenuBtn .menuBtn {
  height: 25px;
}
.home .quoteCardProto .quoteCardBody {
  padding: 0 4%;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Roboto" sans-serif;
}
.home .quoteCardProto .quoteCardBody .mainContent {
  font-weight: 300;
  line-height: 2;
  font-size: 14px;
}
.home .quoteCardProto .quoteCardBody .qcAuthor {
  font-size: 14px;
  margin-left: 2%;
}
.home .quoteCardProto .quoteCardFooter {
  display: grid;
  grid-template-columns: 1fr;
}
.home .quoteCardProto .quoteCardFooter .qcSelectBtn {
  grid-column: 2;
  margin-right: 30px;
  padding: 4%;
}
.home .quoteCardProto .quoteCardFooter .selectBtn {
  height: 30px;
  background: #ffffff;
  transition: 0.2s all;
}
.home .quoteCardProto .quoteCardFooter .selectBtn:hover {
  transform: scale(1.4);
  cursor: pointer;
}
.home .quoteCardProto:nth-child(1) {
  position: relative;
  right: 90px;
  top: -20px;
}
.home .quoteCardProto:nth-child(1) .themeIcon {
  background: #f5dc96;
  background: linear-gradient(to top left, #f7e783, #f5f1c0);
}
.home .quoteCardProto:nth-child(2) {
  position: relative;
  right: 40px;
  top: 0px;
}
.home .quoteCardProto:nth-child(2) .themeIcon {
  background: #f5dc96;
  background: linear-gradient(to top left, #399755, #d8f7d7);
}
.home .quoteCardProto:nth-child(3) {
  position: relative;
  left: 10px;
  top: 20px;
}
.home .lotusIconJumbo {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  margin-bottom: 10%;
  margin-right: 12px;
}
.home .callToAction {
  margin-top: 1%;
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
}
.home .callToAction .ctaBtn {
  height: 40px;
  width: 100px;
  border: 1px solid #6B6785;
  border-radius: 2px;
  text-decoration: none;
  background: #746e97;
  color: #ffffff;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.home .callToAction .ctaBtn:hover {
  cursor: pointer;
  background: #8d88ac;
  color: #ffffff;
  border: 1px solid #8d88ac;
}
.home .callToAction a {
  text-decoration: none;
  color: #eff0fc;
}
.home .howItWorks {
  margin-top: 5%;
  padding: 2% 2% 2% 2%;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 92%;
}
.home .howItWorks .sectionHeader {
  justify-self: center;
  text-align: center;
  height: 70px;
  color: #1a2749;
}
.home .howItWorks .sectionHeader::before {
  content: ".";
  position: relative;
  display: block;
  background: rgba(75, 66, 133, 0.226);
  width: 104%;
  top: 55px;
  left: -2%;
  color: transparent;
  font-size: 20px;
}
.home .howItWorks .sectionHeader .headerText {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 6px;
  font-family: "Roboto" sans-serif;
}
.home .howItWorks .steps {
  margin-top: 2%;
  justify-self: center;
  width: 90%;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
}
.home .howItWorks .stepSection {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
}
.home .howItWorks .stepSection .stepSectionIcon {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.home .howItWorks .stepSection .stepSectionIcon .stepIcon {
  height: 80px;
}
.home .howItWorks .stepSection .stepSectionContent {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 2px 2px 8px #4a526321;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.home .howItWorks .stepSection .stepSectionContent .stepContentText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80%;
  justify-items: center;
  width: 70%;
  height: 80%;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
  color: #03313a;
}
.home .howItWorks .stepSection .stepSectionContent .stepContentText:hover .stepAccent {
  box-shadow: 4px 4px 20px #3ddcf181;
  background: #25d5ec79;
}
.home .howItWorks .stepSection .stepSectionContent .stepContentText .stepAccent {
  text-align: center;
  display: block;
  width: 80%;
  margin-bottom: -4%;
  font-size: 24px;
  color: #03313a;
  background: #25d5ec41;
  box-shadow: 1px 1px 20px #25d5ec34;
  transition: all 0.2s;
}
.home .featured {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr;
}
.home .featured .featuredHeader {
  margin-bottom: 4%;
  justify-self: center;
  text-align: center;
  height: 70px;
  color: #1a2749;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 6px;
  font-family: "Roboto" sans-serif;
}
.home .featured .featuredHeader::before {
  content: ".";
  position: relative;
  display: block;
  background: rgba(75, 66, 133, 0.226);
  width: 104%;
  top: 55px;
  left: -2%;
  color: transparent;
  font-size: 20px;
}
.home .featured .featuredItems {
  padding: 1%;
  justify-self: center;
  height: 450px;
  width: 65%;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr;
}
.home .featured .featuredItem {
  align-self: center;
  justify-self: center;
  height: 130px;
  width: 99%;
  background: #e0e0e0;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #2f323817;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-items: center;
  transition: all 0.2s;
}
.home .featured .featuredItem:hover {
  transform: translateY(-5px);
  box-shadow: 4px 6px 20px #2f323817;
}
.home .featured .featuredItem:hover .featuredImg {
  transform: scale(1.15);
}
.home .featured .featuredItem .itemImg {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}
.home .featured .featuredItem .itemImg .featuredImg {
  height: 128px;
  width: 99%;
  border-radius: 2px;
  transition: all 0.8s;
}
.home .featured .featuredItem .itemContent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 40% 10%;
  align-items: center;
  background: #ffffff;
  color: #0a1020;
}
.home .featured .featuredItem .itemContent .itemContentTitle {
  margin-left: 6%;
  align-self: center;
  font-size: 16px;
  color: #0a1020;
}
.home .featured .featuredItem .itemContent .contentText {
  margin-left: 2%;
  font-size: 14px;
  font-weight: 300;
  width: 80%;
  letter-spacing: 1px;
}
.home .featured .featuredItem .itemContent .contentLink {
  justify-self: end;
  margin-right: 4%;
  padding: 2px 10px;
  border-radius: 2px;
  background: rgba(188, 229, 253, 0);
  border: 1px solid #8bd0f8;
  text-decoration: none;
  color: #0a1020;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.2s;
}
.home .featured .featuredItem .itemContent .contentLink:hover {
  background: #8bd0f8;
}
.home .newsletter {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.home .newsletter .newsletterTitle {
  margin-bottom: 4%;
  justify-self: center;
  text-align: center;
  height: 70px;
  color: #1a2749;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 6px;
  font-family: "Roboto" sans-serif;
}
.home .newsletter .newsletterTitle::before {
  content: ".";
  position: relative;
  display: block;
  background: rgba(75, 66, 133, 0.226);
  width: 104%;
  top: 55px;
  left: -2%;
  color: transparent;
  font-size: 20px;
}
.home .newsletter .newsletterSignup {
  margin-top: 1%;
  width: 65%;
  height: 60px;
  padding: 4%;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 2px;
  box-shadow: 2px 2px 10px #2f32381e;
  background: #ffffff;
}
.home .newsletter .newsletterSignup .newsletterForm {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 2%;
  align-items: center;
}
.home .newsletter .newsletterSignup .newsletterForm .emailInvalid {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  bottom: 50px;
  color: #ff0000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}
.home .newsletter .newsletterSignup .newsletterForm .newsletterInput {
  grid-row: 1;
  grid-column: 1;
  height: 40px;
  padding-left: 1%;
  font-size: 16px;
  border: 2px solid #9da5b9;
  transition: all 0.1s;
}
.home .newsletter .newsletterSignup .newsletterForm .newsletterInput:hover {
  border: 2px solid #7ba3c9;
}
.home .newsletter .newsletterSignup .newsletterForm .newsletterInput:focus {
  outline: none;
  border: 2px solid #7ba3c9;
}
.home .newsletter .newsletterSignup .newsletterForm .submitBtn {
  height: 45px;
  background: #736d9c;
  border: 1px solid #6B6785;
  font-size: 16px;
  color: #eff0fc;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.home .newsletter .newsletterSignup .newsletterForm .submitBtn:hover {
  background: rgba(115, 109, 156, 0.918);
  border: 1px solid rgba(115, 109, 156, 0.918);
  cursor: pointer;
}

.footer {
  margin-top: 8%;
  height: 150px;
  background: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.footer .copyright {
  justify-self: center;
  letter-spacing: 2px;
}
.footer .copyright .copyrightText {
  font-size: 14px;
  color: #777777;
}

.pageTitle {
  margin: 3% 0;
  justify-self: center;
  text-align: center;
  height: 70px;
  color: #1a2749;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 6px;
  font-family: "Roboto" sans-serif;
}
.pageTitle::before {
  content: ".";
  position: relative;
  display: block;
  background: rgba(75, 66, 133, 0.226);
  width: 104%;
  top: 55px;
  left: -2%;
  color: transparent;
  font-size: 20px;
}
.pageTitle .headerText {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 6px;
  font-family: "Roboto" sans-serif;
}

.explore {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2%;
}
.explore .exploreCardsContainer {
  margin-top: 4%;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
}
.explore .exploreCardsContainer #exploreControls {
  position: absolute;
  top: 320px;
  width: 90%;
  border-radius: 2px;
  box-shadow: 4px 6px 10px #4a52632a;
  padding: 1.5%;
  background: #08154dd5;
  display: grid;
  grid-template-columns: 4fr 3fr;
  column-gap: 20px;
  z-index: 1;
}
.explore .exploreCardsContainer #exploreControls .exploreFilter {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;
}
.explore .exploreCardsContainer #exploreControls .exploreFilter .filter {
  height: 30px;
  border: 2px solid transparent;
  border-radius: 2px;
  background: #ffffff;
  padding-left: 2%;
  font-size: 16px;
  transition: all 0.2s;
}
.explore .exploreCardsContainer #exploreControls .exploreFilter .filter:hover {
  border-color: #6c7dc9;
}
.explore .exploreCardsContainer #exploreControls .exploreFilter .filter:focus {
  outline: none;
  border-color: #6c7dc9;
}
.explore .exploreCardsContainer #exploreControls .exploreFilter .filterSubmitBtn {
  border: none;
  border-radius: 2px;
  background: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.explore .exploreCardsContainer #exploreControls .exploreFilter .filterSubmitBtn:hover {
  background: #efeef7;
  cursor: pointer;
}
.explore .exploreCardsContainer #exploreControls .exploreFilter .filterSubmitBtn:focus {
  outline: none;
}
.explore .exploreCardsContainer #exploreControls .exploreFilter .filterSubmitBtn:active {
  transform: scale(0.9);
}
.explore .exploreCardsContainer #exploreControls .selectAll {
  align-items: center;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 9fr;
}
.explore .exploreCardsContainer #exploreControls .selectAll [type=checkbox]:not(:checked),
.explore .exploreCardsContainer #exploreControls .selectAll [type=checkbox]:checked {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.explore .exploreCardsContainer #exploreControls .selectAll .selectAllLabel {
  font-size: 20px;
  color: #ffffff;
}
.explore .exploreCardsContainer .cardsContainer {
  margin-top: 4%;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  justify-items: center;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard {
  margin-top: 4%;
  height: fit-content;
  width: 85%;
  border: 2px solid #eeeeee;
  box-shadow: 4px 6px 10px #4a526311;
  border-radius: 5px;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60% 20%;
  background: #ffffff;
  color: #232A3B;
  transition: all 0.2s;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard:hover {
  box-shadow: 6px 12px 20px #b8b8b831;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeIcon {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .themeIcon {
  border: 2px solid;
  border-radius: 50%;
  padding: 5%;
  height: 30px;
  background: #5583C3;
  background: linear-gradient(to top left, #5583C3, #E8F7FB);
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Focus {
  background: linear-gradient(to top left, #f7e783, #f5f1c0);
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Mind\/Body {
  background: linear-gradient(to top left, #5583C3, #E8F7FB);
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Mindset {
  background: linear-gradient(to top left, #399755, #d8f7d7);
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Courage {
  background: linear-gradient(to top left, #51c7cf, #efe8fb);
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Purpose {
  background: linear-gradient(to top left, #d3f3df, #f3e8fb);
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeText {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 8%;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeText .themeText {
  font-family: "Hammersmith One", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn {
  height: 30px;
  width: 30px;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  position: relative;
  right: 330px;
  height: 150px;
  width: 320px;
  border: 2px solid #a5a5a5;
  box-shadow: 4px 6px 10px #4a526311;
  border-radius: 5px;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  background: #ffffff;
  color: #232A3B;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu:focus {
  outline: none;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 60%;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .menuTitle {
  justify-self: center;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .menuTitle .menuTitleText {
  letter-spacing: 1px;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency {
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm .frequencyLabel {
  letter-spacing: 1px;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm .frequencyLabel .frequencyNumber {
  padding: 0 5px;
  background: #6B6785;
  border-radius: 2px;
  color: #ffffff;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range] {
  -webkit-appearance: none;
  width: 70%;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]:focus {
  outline: none;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 2px;
  border: 0px solid #000000;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-webkit-slider-runnable-track:focus {
  background: #2497E3;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 2px;
  border: 0px solid #000000;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-fill-lower::-ms-fill-lower {
  background: #2497E3;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-fill-upper::-ms-fill-upper {
  background: #2497E3;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .menuBtn {
  grid-row: 1;
  grid-column: 1;
  height: 25px;
  transition: 0.2s all;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .menuBtn:hover {
  cursor: pointer;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  position: relative;
  right: 277px;
  border: 1px solid;
  height: 30px;
  width: 270px;
  border: 2px solid #ff0000;
  box-shadow: 4px 6px 10px #4a526311;
  border-radius: 5px;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background: #ffe6e6;
  color: #232A3B;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning .menuSectionWarning {
  padding: 2%;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning .menuSectionWarning .menuWarningTitleText {
  letter-spacing: 1px;
  font-size: 12px;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardBody {
  padding: 0 4%;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Roboto" sans-serif;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardBody .mainContent {
  width: 95%;
  font-weight: 300;
  line-height: 2;
  font-size: 14px;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardBody .qcAuthor {
  width: 70%;
  font-size: 12px;
  margin-left: 2%;
  letter-spacing: 2px;
  line-height: 1.7;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardFooter {
  display: grid;
  grid-template-columns: 1fr;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardFooter .qcSelectBtn {
  grid-column: 2;
  margin-right: 30px;
  padding: 4%;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardFooter .selectBtn {
  height: 30px;
  background: #ffffff;
  transition: 0.2s all;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardFooter .selectBtn:hover {
  transform: scale(1.4);
  cursor: pointer;
}
.explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardFooter .selectBtn:active {
  transform: scale(1);
}
.explore .exploreCardsContainer .cardsContainer .savedCard {
  border: 2px solid #0a1020;
  box-shadow: 6px 8px 10px #dae3f88c;
  transition: all 0.2s;
}
.explore .exploreCardsContainer .cardsContainer .savedCard:hover {
  box-shadow: 6px 8px 20px #c2d3f56c;
}
.explore .exploreCardsContainer .noMatches {
  grid-column: 1/4;
}
.explore .stickyControls {
  position: fixed !important;
  top: 5px !important;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2%;
}
.about .aboutContent {
  margin-bottom: -4%;
  justify-self: center;
  text-align: center;
  width: 45%;
  display: grid;
  grid-template-columns: 1fr;
}
.about .aboutContent .aboutText {
  line-height: 2.5;
  color: #6B6785;
  font-size: 20px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2%;
}
.profile .profileCardsContainer {
  margin-top: 4%;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
}
.profile .profileCardsContainer .cardsContainer {
  margin-top: 4%;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  justify-items: center;
}
.profile .profileCardsContainer .cardsContainer .quoteCard {
  margin-top: 4%;
  height: fit-content;
  width: 85%;
  border: 2px solid #eeeeee;
  box-shadow: 4px 6px 10px #4a526311;
  border-radius: 5px;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60% 20%;
  background: #ffffff;
  color: #232A3B;
  transition: all 0.2s;
}
.profile .profileCardsContainer .cardsContainer .quoteCard:hover {
  box-shadow: 6px 12px 20px #b8b8b831;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeIcon {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .themeIcon {
  border: 2px solid;
  border-radius: 50%;
  padding: 5%;
  height: 30px;
  background: #5583C3;
  background: linear-gradient(to top left, #5583C3, #E8F7FB);
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Focus {
  background: linear-gradient(to top left, #f7e783, #f5f1c0);
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Mind\/Body {
  background: linear-gradient(to top left, #5583C3, #E8F7FB);
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Mindset {
  background: linear-gradient(to top left, #399755, #d8f7d7);
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Courage {
  background: linear-gradient(to top left, #51c7cf, #efe8fb);
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .Purpose {
  background: linear-gradient(to top left, #d3f3df, #f3e8fb);
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeText {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 8%;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeText .themeText {
  font-family: "Hammersmith One", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn {
  height: 30px;
  width: 30px;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  position: relative;
  right: 330px;
  height: 150px;
  width: 320px;
  border: 2px solid #a5a5a5;
  box-shadow: 4px 6px 10px #4a526311;
  border-radius: 5px;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  background: #ffffff;
  color: #232A3B;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu:focus {
  outline: none;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 60%;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .menuTitle {
  justify-self: center;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .menuTitle .menuTitleText {
  letter-spacing: 1px;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency {
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm .frequencyLabel {
  letter-spacing: 1px;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm .frequencyLabel .frequencyNumber {
  padding: 0 5px;
  background: #6B6785;
  border-radius: 2px;
  color: #ffffff;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range] {
  -webkit-appearance: none;
  width: 70%;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]:focus {
  outline: none;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 2px;
  border: 0px solid #000000;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-webkit-slider-runnable-track:focus {
  background: #2497E3;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 2px;
  border: 0px solid #000000;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-fill-lower::-ms-fill-lower {
  background: #2497E3;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-fill-upper::-ms-fill-upper {
  background: #2497E3;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .menuBtn {
  grid-row: 1;
  grid-column: 1;
  height: 25px;
  transition: 0.2s all;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .menuBtn:hover {
  cursor: pointer;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  position: relative;
  right: 277px;
  height: 30px;
  width: 270px;
  border: 2px solid #ff0000;
  box-shadow: 4px 6px 10px #4a526311;
  border-radius: 5px;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background: #ffe6e6;
  color: #232A3B;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning .menuSectionWarning {
  padding: 2%;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning .menuSectionWarning .menuWarningTitleText {
  letter-spacing: 1px;
  font-size: 12px;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardBody {
  padding: 0 4%;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Roboto" sans-serif;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardBody .mainContent {
  width: 95%;
  font-weight: 300;
  line-height: 2;
  font-size: 14px;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardBody .qcAuthor {
  width: 70%;
  font-size: 12px;
  margin-left: 2%;
  letter-spacing: 2px;
  line-height: 1.7;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardFooter {
  display: grid;
  grid-template-columns: 1fr;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardFooter .qcSelectBtn {
  grid-column: 2;
  margin-right: 30px;
  padding: 4%;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardFooter .selectBtn {
  height: 30px;
  background: #ffffff;
  transition: 0.2s all;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardFooter .selectBtn:hover {
  transform: scale(1.4);
  cursor: pointer;
}
.profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardFooter .selectBtn:active {
  transform: scale(1);
}
.profile .profileCardsContainer .cardsContainer .savedCard {
  border: 2px solid #0a1020;
  box-shadow: 6px 8px 10px #dae3f88c;
  transition: all 0.2s;
}
.profile .profileCardsContainer .cardsContainer .savedCard:hover {
  box-shadow: 6px 8px 20px #c2d3f56c;
}
.profile .noSavedQuotes {
  width: 30%;
  padding: 2%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 20px;
}
.profile .noSavedQuotes .exploreBtn {
  height: 40px;
  width: 100px;
  border: 1px solid #6B6785;
  border-radius: 2px;
  text-decoration: none;
  background: #746e97;
  color: #ffffff;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.profile .noSavedQuotes .exploreBtn:hover {
  cursor: pointer;
  background: #8d88ac;
  color: #ffffff;
  border: 1px solid #8d88ac;
}
.profile .noSavedQuotes a {
  text-decoration: none;
  color: #eff0fc;
}

.login {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2%;
}

.quoteAddedToast {
  margin: 5px 0;
  height: 40px;
  width: 150px;
  padding: 2%;
  background: #ffffff;
  border: 1px solid #268deea1;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
}
.quoteAddedToast:hover {
  cursor: pointer;
}
.quoteAddedToast .toastIcon {
  height: 35px;
}

.quoteRemovedToast {
  margin: 5px 2px;
  height: 40px;
  width: 150px;
  padding: 2%;
  background: #ffffff;
  border: 1px solid #f86e6ece;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
}
.quoteRemovedToast:hover {
  cursor: pointer;
}
.quoteRemovedToast .toastIcon {
  height: 35px;
}

/* LOADER */
.lds-ring {
  justify-self: center;
  width: 64px;
  height: 80vh;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #aaaaaa;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cac9c9 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .loadScreen {
    margin-top: 10%;
  }

  .App {
    overflow-x: hidden;
  }

  .navBar {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
  }
  .navBar .navRight {
    margin-left: 15%;
    justify-self: start;
  }
  .navBar .navLinks {
    width: 100%;
    column-gap: 12px;
  }
  .navBar .navLinks .navLink {
    height: 20px;
  }

  .appHeader {
    margin-top: 4%;
  }

  .home {
    display: grid;
    grid-template-columns: 1fr;
    background: url("/blockBg.png");
    background-position-y: -130px;
  }
  .home .jumbo {
    padding-top: 2%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    height: 500px;
    width: 99vw;
  }
  .home .phrase {
    margin-top: -4%;
    padding-top: 0%;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    text-align: center;
    width: 90%;
    height: 290px;
    color: #232A3B;
  }
  .home .phrase .phraseText {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 8px;
    line-height: 1.4;
    font-family: "Roboto" sans-serif;
  }
  .home .phrase .animPhraseContainer {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }
  .home .phrase .phraseTextAnimated {
    grid-column: 1;
    grid-row: 1;
    color: #6abdcc;
  }
  .home .graphic {
    display: none;
  }
  .home .lotusIconJumbo {
    margin-top: -35%;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    margin-bottom: -10%;
    margin-right: 12px;
  }
  .home .callToAction {
    margin-top: -30%;
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  .home .callToAction .ctaBtn {
    height: 40px;
    width: 150px;
    border: 1px solid #6B6785;
    border-radius: 2px;
    text-decoration: none;
    background: #746e97;
    color: #ffffff;
    font-family: "Roboto" sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.2s;
  }
  .home .callToAction .ctaBtn:hover {
    cursor: pointer;
    background: #8d88ac;
    color: #ffffff;
    border: 1px solid #8d88ac;
  }
  .home .callToAction a {
    text-decoration: none;
    color: #eff0fc;
  }
  .home .howItWorks {
    margin-top: -6%;
    padding: 2% 2% 2% 2%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 92%;
  }
  .home .howItWorks .sectionHeader {
    justify-self: center;
    text-align: center;
    height: 70px;
    color: #1a2749;
  }
  .home .howItWorks .sectionHeader::before {
    display: none;
  }
  .home .howItWorks .sectionHeader .headerText {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6px;
    font-family: "Roboto" sans-serif;
  }
  .home .howItWorks .steps {
    margin-top: -6%;
    justify-self: center;
    width: 90%;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2%;
    row-gap: 40px;
  }
  .home .howItWorks .stepSection {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
  }
  .home .howItWorks .stepSection .stepSectionContent {
    height: fit-content;
  }
  .home .howItWorks .stepSection .stepSectionContent .stepContentText {
    line-height: 1.6;
  }
  .home .featured {
    height: 600px;
    margin-top: 20%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .home .featured .featuredHeader {
    margin-bottom: 4%;
    height: 70px;
    color: #1a2749;
    font-size: 32px;
    font-weight: 700;
  }
  .home .featured .featuredHeader::before {
    top: 40px;
    font-size: 12px;
  }
  .home .featured .featuredItems {
    padding: 1%;
    height: 600px;
    width: 90%;
  }
  .home .featured .featuredItem {
    height: 170px;
    width: 99%;
    grid-template-columns: 1fr 2fr;
  }
  .home .featured .featuredItem:hover {
    transform: translateY(-5px);
    box-shadow: 4px 6px 20px #2f323817;
  }
  .home .featured .featuredItem:hover .featuredImg {
    transform: scale(1.15);
  }
  .home .featured .featuredItem .itemImg {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    overflow: hidden;
  }
  .home .featured .featuredItem .itemImg .featuredImg {
    height: 170px;
    width: 99%;
    border-radius: 2px;
    transition: all 0.8s;
  }
  .home .featured .featuredItem .itemContent {
    height: 100%;
    width: 100%;
    grid-template-rows: 30% 40% 30%;
  }
  .home .featured .featuredItem .itemContent .itemContentTitle {
    margin-left: 10%;
    margin-bottom: 2%;
    align-self: center;
    font-size: 14px;
    color: #0a1020;
  }
  .home .featured .featuredItem .itemContent .contentText {
    margin-left: 6%;
    font-size: 12px;
    font-weight: 300;
    width: 80%;
    letter-spacing: 1px;
  }
  .home .newsletter {
    height: 210px;
    margin-top: 32%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .home .newsletter .newsletterTitle {
    margin-bottom: 4%;
    justify-self: center;
    text-align: center;
    height: 70px;
    color: #1a2749;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6px;
    font-family: "Roboto" sans-serif;
  }
  .home .newsletter .newsletterTitle::before {
    display: none;
  }
  .home .newsletter .newsletterSignup {
    margin-top: 1%;
    width: 90%;
    height: 60px;
    padding: 2%;
  }
  .home .newsletter .newsletterSignup .newsletterForm {
    justify-self: center;
    width: 95%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    column-gap: 2%;
    align-items: center;
  }
  .home .newsletter .newsletterSignup .newsletterForm .newsletterInput {
    grid-row: 1;
    grid-column: 1;
    height: 40px;
    padding-left: 4%;
    font-size: 16px;
  }

  .pageTitle {
    margin: 3% 0;
    justify-self: center;
    text-align: center;
    height: 70px;
    color: #1a2749;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 6px;
    font-family: "Roboto" sans-serif;
  }
  .pageTitle::before {
    content: ".";
    position: relative;
    display: block;
    background: rgba(75, 66, 133, 0.226);
    width: 104%;
    top: 50px;
    left: -2%;
    color: transparent;
    font-size: 20px;
  }
  .pageTitle .headerText {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 6px;
    font-family: "Roboto" sans-serif;
  }

  .explore {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2%;
  }
  .explore .exploreCardsContainer {
    margin-top: 30%;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .explore .exploreCardsContainer #exploreControls {
    position: absolute;
    top: 320px;
    width: 90%;
    padding: 1.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    align-items: center;
    z-index: 1;
  }
  .explore .exploreCardsContainer #exploreControls .exploreFilter {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
  }
  .explore .exploreCardsContainer #exploreControls .exploreFilter .filter {
    height: 22px;
    padding-left: 2%;
    font-size: 12px;
  }
  .explore .exploreCardsContainer #exploreControls .exploreFilter .filterSubmitBtn {
    font-size: 12px;
  }
  .explore .exploreCardsContainer #exploreControls .selectAll {
    align-items: center;
    margin-left: 1%;
    display: grid;
    grid-template-columns: 1fr 9fr;
  }
  .explore .exploreCardsContainer #exploreControls .selectAll [type=checkbox]:not(:checked),
.explore .exploreCardsContainer #exploreControls .selectAll [type=checkbox]:checked {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .explore .exploreCardsContainer #exploreControls .selectAll .selectAllLabel {
    font-size: 14px;
    color: #ffffff;
  }
  .explore .exploreCardsContainer .cardsContainer {
    margin-top: 4%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;
    justify-items: center;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard {
    margin-top: 4%;
    height: fit-content;
    width: 75%;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeText {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 8%;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeText .themeText {
    font-family: "Hammersmith One", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn {
    height: 30px;
    width: 30px;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu {
    right: 250px;
    height: 150px;
    width: 240px;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu:focus {
    outline: none;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 60%;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .menuTitle {
    justify-self: center;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .menuTitle .menuTitleText {
    letter-spacing: 1px;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency {
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm .frequencyLabel {
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm .frequencyLabel .frequencyNumber {
    padding: 0 5px;
    background: #6B6785;
    border-radius: 2px;
    color: #ffffff;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning {
    right: 250px;
    height: 30px;
    width: 250px;
    padding: 1%;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning .menuSectionWarning {
    padding: 2%;
  }
  .explore .exploreCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning .menuSectionWarning .menuWarningTitleText {
    letter-spacing: 1px;
    font-size: 11px;
  }
  .explore .exploreCardsContainer .noMatches {
    grid-column: 1;
    margin-top: 50%;
    margin-bottom: 100%;
  }
  .explore .stickyControls {
    position: fixed !important;
    top: 5px !important;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2%;
  }
  .about .aboutContent {
    margin-top: 4%;
    margin-bottom: 0%;
    width: 80%;
  }
  .about .aboutContent .aboutText {
    line-height: 2;
    color: #6B6785;
    font-size: 18px;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2%;
  }
  .profile .profileCardsContainer {
    margin-top: 8%;
    margin-bottom: 14%;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .profile .profileCardsContainer .cardsContainer {
    margin-top: 4%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;
    justify-items: center;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard {
    margin-top: 4%;
    height: fit-content;
    width: 75%;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeText {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 8%;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcThemeText .themeText {
    font-family: "Hammersmith One", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn {
    height: 30px;
    width: 30px;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu {
    right: 250px;
    height: 150px;
    width: 240px;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu:focus {
    outline: none;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 60%;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .menuTitle {
    justify-self: center;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .menuTitle .menuTitleText {
    letter-spacing: 1px;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency {
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm .frequencyLabel {
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .qcMenuBtn .settingsMenu .menuSection .frequency .frequencyForm .frequencyLabel .frequencyNumber {
    padding: 0 5px;
    background: #6B6785;
    border-radius: 2px;
    color: #ffffff;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning {
    right: 250px;
    height: 30px;
    width: 250px;
    padding: 1%;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning .menuSectionWarning {
    padding: 2%;
  }
  .profile .profileCardsContainer .cardsContainer .quoteCard .quoteCardHeader .settingsMenuWarning .menuSectionWarning .menuWarningTitleText {
    letter-spacing: 1px;
    font-size: 11px;
  }
  .profile .profileCardsContainer .cardsContainer .savedCard {
    border: 2px solid #0a1020;
    box-shadow: 6px 8px 10px #dae3f88c;
    transition: all 0.2s;
  }
  .profile .profileCardsContainer .cardsContainer .savedCard:hover {
    box-shadow: 6px 8px 20px #c2d3f56c;
  }
  .profile .noSavedQuotes {
    margin-top: 10%;
    margin-bottom: 68%;
    width: 50%;
    padding: 2%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 20px;
    text-align: center;
  }
  .profile .noSavedQuotes .exploreBtn {
    height: 40px;
    width: 100px;
    border: 1px solid #6B6785;
    border-radius: 2px;
    text-decoration: none;
    background: #746e97;
    color: #ffffff;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.2s;
  }
  .profile .noSavedQuotes .exploreBtn:hover {
    cursor: pointer;
    background: #8d88ac;
    color: #ffffff;
    border: 1px solid #8d88ac;
  }
  .profile .noSavedQuotes a {
    text-decoration: none;
    color: #eff0fc;
  }
}

/*# sourceMappingURL=index.css.map */
